<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>

<div sec:authorize="isAuthenticated()">
  <h2>로그인한 유저: <span sec:authentication="principal.username">[Username]</span></h2>
</div>

<div sec:authorize="isAnonymous()" style="background-color:pink; padding:1em;">
  <form action="/oauth/test" method="post" >
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button>로그인</button>
  </form>

  <a href="/oauth2/authorization/naver">네이버 로그인</a>
  <a href="/oauth2/authorization/kakao">카카오 로그인</a>
  <br><br>

  <a href="/joinForm">회원가입하기</a><br>
</div>

<div sec:authorize="isAuthenticated()" style="background-color:pink; padding:1em;">
  <a href="/logout">로그아웃</a>
</div>

<br><br>
<a href="/user">유저</a><br>
<a href="/admin" sec:authorize="hasAnyRole('ADMIN')">어드민</a><br>

<br><br>
<a href="/users/info">로그인 정보</a>

</body>
</html>